/* Services Section
--------------------------------*/


  
  #services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  #services .box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  
  #services .icon {
    position: absolute;
    left: -10px;
    top: calc(50% - 32px);
  }
  
  #services .icon i {
    font-size: 64px;
    line-height: 1;
    transition: 0.5s;
  }
  
  #services .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .box:hover .title a {
    color: #007bff;
  }
  
  #services .description {
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
  }
  
  #why-us {
    padding: 60px 0;
    background: #004a99;
  }
  
  #why-us .section-header h3,
  #why-us .section-header p {
    color: #fff;
  }
  
  #why-us .card {
    background: #00458f;
    border-color: #00458f;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
  }
  
  #why-us .card:hover {
    background: #003b7a;
    border-color: #003b7a;
  }
  
  #why-us .card i {
    font-size: 48px;
    padding-top: 15px;
    color: #bfddfe;
  }
  
  #why-us .card h5 {
    font-size: 22px;
    font-weight: 600;
  }
  
  #why-us .card p {
    font-size: 15px;
    color: #d8eafe;
  }
  
  #why-us .card .readmore {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease-in-out;
    border-bottom: #00458f solid 2px;
  }
  
  #why-us .card .readmore:hover {
    border-bottom: #fff solid 2px;
  }
  
  #why-us .counters {
    padding-top: 40px;
  }
  
  #why-us .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #fff;
  }
  
  #why-us .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
  }