{% extends 'layout.html' %}
{% load static %}


{% block body %}
{% load crispy_forms_tags %}

<div style="text-align: center;">
    <img src="{% static 'images/content-logo.png' %}" widht="75px" height="75px"  alt="distlay">
    </div>
    <br>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Register</h3>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{form | crispy }}
            <br>
            <button type="submit" class="btn btn-outline-info">Register</button>
        </form>
        <br>
        <div class="border-top pt-3">
            <small class="text-muted">
                Have An Account? <a class="ml-2" href="{% url 'user:login' %}">Login Now</a>
            </small>
        </div>
    </div>
  </div>


{% endblock body %}



